[Desktop Entry]
Icon=application-vnd.google-apps.document
Name=opt1-doc-ymh15
Type=Link
URL=https://docs.google.com/document/d/1dkUvhujhrCIKXQKKnY9NqCAqWs-bDfJtq4I8S1WELAQ/edit?usp=drivesdk
